/* style sheet for website */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Target whole page */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000001;
    /* font-family: "Merriweather", serif; */
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgba(27, 45, 61, 0.822);
}

/* transistions */

a, .btn {
    transition: all 300ms ease;
    display: inline-block;
}

/*  Desktop nav */

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: none;
}

a:hover {
    font-size: 1.5rem;
    transform: scaleY(1.2);
    color: rgb(1, 0, 5);
    background-color: rgb(189, 251, 43);
}

.logo {
    font-size: 1.5rem;
    color: white;
}

.logo:hover {
    cursor: default;
}